// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.renderComments {
	
}

.comment {
	background-color: #A09B9B;
	border: solid 2px #442;
}


.textRender {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
}